
body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #efc;
	margin-left: 4em;
	margin-right: 20%;
}

h1.top {
	border-bottom: thin solid gray;
}

nav.nlink {
	background: #deb;
	padding: 6px;
	margin-left: -4em;
	margin-top: -0.5em;
}

form.logout {
    float:right;
}
