<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="tyylit.css"/>
        <title>Ollimus News</title>
    </head>
    <body>

        <nav class="nlink">
            <a class="home"> Home</a>
            <a class="write" href="/write"> Write</a>
            <form class="logout"  th:action="@{/logout}" method="POST" sec:authorize="hasAuthority('USER')">
                  <input type="submit" value="Logout"></input>
            </form>
        </nav>

        <h1>Ollimus News</h1>
        
        <h2>Hottest</h2>
        <ol>
            <li th:each="news : ${hot}">
                <a th:href="@{/news/{id}(id=${news.id})}" th:text="${news.title}"></a>
                Hits: <a th:text="${news.hits}"></a>
            </li>
        </ol>

        <h2>Latest</h2>
        <ol>
            <li th:each="news : ${news}">
                <a th:href="@{/news/{id}(id=${news.id})}" th:text="${news.title}"></a>
            </li>
        </ol>

    </body>
</html>
