<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Ollimus News</title>
    </head>
    <body>
        
        <nav class="nlink">
            <a class="home" href="/news"> Home</a>
            <a class="write" href="/write"> Write</a>
            <form class="logout"  th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"></input>
            </form>
        </nav>

        <h2 th:text="${title}"/>

        <div th:if="${current != null}">
            <img th:src="@{/news/{id}/image(id=${current})}"/>
        </div>

        <br/>

        <a th:text="${text}"/><br/><br/>
        
    </body>
</html>
