<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Ollimus News</title>
        <link rel="stylesheet" href="tyylit.css"/>
    </head>
    <body>
        
        <nav class="nlink">
            <a class="navl" href="/news"> Home</a>
            <a sec:authorize="hasAuthority('USER')" class="navl" name="write"> Write</a>
            <form class="log"  th:action="@{/logout}" method="POST" sec:authorize="hasAuthority('USER')">
                  <input type="submit" value="Logout"></input>
            </form>
            <form class="log"  th:action="@{/login}" method="POST" sec:authorize="isAnonymous()">
                <a>User:</a>
                <input type="text" name="username" id="username"/>
                <a style="margin-left: 8px">Password:</a>
                <input type="password" name="password" id="password"/>
                <input name="submit" type="submit" value="Login" id="login"></input>
            </form>
        </nav>
        
        <h2>Write new article</h2>

        <p>PNG, JPEG or GIF files</p>
        
        <form method="POST" th:action="@{/news}" enctype="multipart/form-data">
            <a>News Image</a>
            <input type="file" name="file" id="file"/><br/>
            <br/>
            <a>Title</a><br/>
            <input type="text" name="title" id="title"/><br/>
            <a>Content</a><br/>
            <textarea rows="4" cols="50" name="content" id="content"></textarea><br/>
            <a>Author</a><br/>
            <input type="text" name="author" id="author"/><br/>
            <br/>
            <select name="category">
                <option th:each="cat:${categories}" th:text="${cat}">option</option>
            </select><br/>
            <input type="submit" name="postnews" value="Post"/>
        </form>
        
    </body>
</html>
