<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Ollimus News</title>
        <link rel="stylesheet" href="tyylit.css"/>
    </head>
    <body>
        
        <nav class="nlink">
            <a class="home" href="/news"> Home</a>
            <a class="write"> Write</a>
            <form class="logout"  th:action="@{/logout}" method="POST" sec:authorize="hasAuthority('USER')">
                  <input type="submit" value="Logout"></input>
            </form>
        </nav>
        
        <h2>Write new article</h2>

        <p>PNG, JPEG or GIF files</p>
        
        <form method="POST" th:action="@{/news}" enctype="multipart/form-data">
            <a>News Image</a>
            <input type="file" name="file" id="file"/><br/>
            <a>Title</a>
            <input type="text" name="title" id="title"/><br/>
            <a>Content</a><br/>
            <textarea rows="4" cols="50" name="content" id="content"></textarea><br/>
            <input type="submit" value="Post"/>
        </form>
        
    </body>
</html>
